# use '#' at beginning of line to comment. Blank lines are ignored.
# standard glob patterns used for ignoring files that fit the pattern.
# ignored files won't be commited or added.

# Ignore files ending in ~ or # (usually temp files created by editor)
*[~#]

# Ignore compiled files
*.[oax]
*.out

# Ignore log and text files
LOG*
*.log*
*.txt*

# Ignoe old and test things and their derivatives
*.old*
*.test*

# Ignore big and usless files and their derivatives
*.node*
*.dat*
*.pgm*
*.fs0*
*.rebin*
*.cmd*
*.mod*
*.20*
*.aux
*.pdf
